{% extends 'base.html.twig' %}
{% block body %}
    <script src="{{ asset('assets/js/canvasjs/canvasjs.min.js') }}"></script>
    <script>
        window.onload = function () {
            let copiesDistributionStats = new CanvasJS.Chart("copiesDistributionStatsContainer", {
                animationEnabled: true,
                exportEnabled: true,
                title:{
                    text: "{% trans %}entity.copiesDistributionStatsTitle{% endtrans %}"
                },
                subtitles: [{
                    text: "{% trans %}entity.copiesDistributionStatsSubTitle{% endtrans %}"
                }],
                backgroundColor: "#F5DEB3",
                data: [{
                    type: "pie",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - #percent%",
                    yValueFormatString: "#,##0",
                    dataPoints: {{ copiesDistributionStats|raw }}
                }]
            });
            copiesDistributionStats.render();
        }
    </script>

    <h2 class="colored_h2">{{ 'some_figures'|trans }}</h2>
    {% trans %}greetings_collection{% endtrans %}
    <ul>
        <li>{% trans with {'%count%': data['gameCount']}%}app_figure_records{% endtrans %}</li>
        <li>{% trans with {'%count%': data['versionCount'], '%platform_count%': data['platformCount']}%}app_figure_versions{% endtrans %}</li>
        <li>{% trans %}app_figure_for_these_versions{% endtrans %}:
            <ul>
                <li>{% trans with {'%count%': data['ownedGameCount'], '%original_count%': data['originalCount']}%}app_figure_records_own{% endtrans %}</li>
                <li>{% trans with {'%count%': data['versionFinishedCount']}%}app_figure_records_finished{% endtrans %}</li>
            </ul>
        <li>{% trans with {'%count%': data['toDoSoloOrToWatch']}%}app_figure_records_to_do_or_to_watch{% endtrans %}</li>
    </ul>

    <div id="copiesDistributionStatsContainer" style="height: 370px; width: 100%;"></div>
    <br>
    <h2 class="colored_h2">{{ 'my_hall_of_fame'|trans }}</h2>

    <h3 class="colored_h3">{{ 'see.criteria'|trans }}</h3>
    {% include 'version/hall-of-fame-criteria.html.twig' %}

    <h3 class="colored_h3">{{ 'entries'|trans|capitalize }}</h3>
    {% trans with {'%count%': data['hallOfFameGamesCount']}%}hall_of_fame_title{% endtrans %}:

    <ul>
    {% set previousYear = 0 %}
    {% for year, games in data['hallOfFameGames'] %}
        {% if previousYear != year %}
            {% set previousYear = year %}
            <li><strong>{{ year }}</strong> ({{ games|length }}) {% trans %}entries{% endtrans %}:</li>
            <ul>
                {% for game in games %}
                    <li><i>{{ game['gameTitle'] }}</i> ({{ game['platformName'] }})</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
